body {
    width:680px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
header {
    background-color: blue;
    color:white;
    width: 680px;
    height:40px;
    position:relative;
    top:0px;
}
nav {
    background-color: green;
    color: white;
    width: 680px;
    height: 25px;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
article {
    background-color: pink;
    color: white;
    width: 454px;
    height: 330px;
}
section {
    background-color: brown;
    color: white;
    width: 454px;
    height: 130px;
}
aside {
    background-color: cyan;
    color: white;
    width: 227px;
    height: 330px;
    position:relative;
    left:454px;
    bottom:330px;
}
footer {
    background-color: green;
    color: white;
    width: 680px;
    height: 25px;
    position:relative;
    bottom:340px;
}