
body {
    width:600px;
    margin-left:auto;
    margin-right:auto;

}

header {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}
hr {
    width: 100%;
    color: limegreen;
    height: 8px;
}
Article {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size:x-large;
}
img {
    width: 310px;
    height: 235px;
}
aside {
    position:relative;
    left:240px;
    bottom:250px;
}
Section {
    color: purple;
    font-size: large;
    font-weight: bold;
}
footer {
    display: inline;
    border-top: double;
    padding-top: 5px;
    width: 100%;
}
nav {
    margin: 2em;
    text-align:right;
}

a:link {
    text-decoration: none;
    padding-left: 20px;
}

a:hover
{
    color: red;
    text-transform: uppercase;
    text-decoration:underline;
}
address {
    font: italic;
    display:inline;
   

}
#box {
     
    border-style:outset;
    padding:10px;
    border:3px solid green;
}
#Label2 {
    font-weight: bold;
    text-align:center;
    font-size:large;
}
#Label1 {
    text-align: center;
    color: blue;
    font-size: x-large;
    font-weight:bold;
}
#Label3 {
    color: purple;
    font-size: large;
    font-weight: bold;
}
